.bar2{
  background-color: #EEE;
  padding: 2px;
  border-radius: 15px;
  margin-bottom: 5px;
  font-size: 14px;
  color: #FFF;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
.bar2::before{
  content:  attr(data-skill);
  background-color: #f3b0ff;
  display: inline-block;
  padding: 5px 0 5px 10px;
  border-radius: inherit;
  animation: load 2s 0s;
  -webkit-animation: load 2s 0s;
  -moz-animation: load 2s 0s;
  -o-animation: load 2s 0s;
}

.bar2.front::before{
  background-color: #ffcc33;
}
.bar2.back::before{
  background-color: #a6cfe3;
}

.bar2.learning::before{
  width: calc(90% - 10px);
}
.bar2.basic::before{
  width: calc(85% - 10px);
}
.bar2.intermediate::before{
  width: calc(75% - 10px);
}
.bar2.advanced::before{
  width: calc(85% - 10px);
}
.bar2.expert::before{
  width: calc(80% - 10px);
}

#bars {
  margin: 2em auto;
  max-width: 960px;
  overflow: hidden;
}

.bar {
  float: left;
  width: 20%;
  text-align: center;
}

.bar h3 {
  font-size: 1.4em;
  font-weight: bold;
  margin: 0;
  text-transform: uppercase;
}

.bar-circle {
  display: block;
  margin: 0.7em auto;
}


