* {box-sizing: border-box;}

.flip-container {
	perspective: 1000px;
}

	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 320px;
	height: 170px;
	float: left;
}


.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;

}


.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}


.front {
	z-index: 2;
	transform: rotateY(0deg);
}

.back {
	transform: rotateY(180deg);
}

.team{
padding-bottom: 30px;
margin:0 auto;
margin-top: 40px;
font-family:Microsoft Yahei;
font-size: 30px;
width: 80%;
height: 1000px;
margin-bottom: 50px;
padding: 50px 85px 50px 100px;
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  float:left;
  margin-top: 50px;
  position: relative;

}


.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}


.tab button:hover {
  background-color: #ddd;

}


.tab button.active {
  background-color: #ccc;

}


.tabcontent {
  display: none;
  padding-top: 300px;
  border: 0px solid #ccc;
  border-top: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 16px;

}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:nth-child(odd) {
  background-color: #FFFFFF;
}