* {box-sizing: border-box;}

.team{
	padding-bottom: 30px;
	margin:0 auto;
	margin-top: 40px;
	font-family:Microsoft Yahei;
	font-size: 30px;
	width: 80%;
	height: 880px;
	background-color: #BAE0CA;
	margin-bottom: 50px;
	padding: 50px 80px;
	border-style: ridge;
	border-width: 20px;
	border-color: #5BB2A6;
}

.team2{
	padding-bottom: 30px;
	margin:0 auto;
	margin-top: 40px;
	font-family:Microsoft Yahei;
	font-size: 30px;
	width: 80%;
	height: 650px;
	margin-bottom: 50px;
	padding: 50px 80px;
	border-style: ridge;
	border-width: 20px;
}


.t1{
	width: 50%;
	height: 310px;
	float: left;
	background-color:#80CBC4;
}

.t2{
	width: 50%;
	height: 310px;
	float: left;
	background-color:#55A5AB;
}
.img{
	padding-top: 45px;
	padding-left: 30px;
	float: left;
	width: 40%;
	height: 200px;
}
.img img{
	width: 100%;
	height: auto;
}
.int{
	padding-top: 15px;
	padding-left: 60px;
	padding-bottom: 30px;
	float: left;
	width: 60%;
	height: 200px;
}
.blogbtn{
	width: 100%;
	height: 80px;
	clear: both;
	font-size: 50px;
	margin-top:-10px;
}
.blog{
	width: 80%;
	float: left;
	padding-top: 30px;
}
.blog_tooltip {
	float: left;
	width: 10%;
	height: 80px;
	position: relative;
	display: inline-block;
	font-size: 50px;
	text-align: left;
	padding-left: 15px;
	padding-top: 30px;
}
.blog_tooltip .blog_tooltiptext {
	width: 200px;
	float: left;
	visibility: hidden;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 10px;
	position: absolute;
	z-index: 1;
	bottom: 120%;
	left: 50%;
	margin-left: -135px;
	background:rgba(221,164,164,0.9);
	transition: opacity 0.3s;
	font-size: 25px;
}
.blog_tooltip .blog_tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: 30px;
	border-width: 10px;
	border-style: solid;
	border-color: rgba(221,164,164,0.9) transparent transparent transparent;
}
.blog_tooltip:hover .blog_tooltiptext {
	visibility: visible;
	opacity: 1;
}


.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
}

.button1:hover {
  background-color: #4CAF50;
  color: white;
}

.button2 {
  background-color: white; 
  color: black; 
  border: 2px solid red;
}

.button2:hover {
  background-color: red;
  color: white;
}