* { box-sizing:border-box; }

.search{
  width: 60%;
}

.pro{
  width: 75%;
}

.pro img {
    cursor: pointer;
    transition: all 0.4s;
}
.pro img:hover {
    transform: scale(1.1);
}



.proimg{
  width: 30%;
  height: 400px;
  margin-left:30px;
  margin-top:40px;
}

/*select*/
.choice{
font-family: "Montserrat", "Microsoft Yahei";
width: 200px;
height: 80px;
padding-top:5px;;
float: left;
}
.choice select{
float: left;
font-size: 30px;
padding: 10px;
border-radius: 30px;
outline:none;
margin:0px 10px 0px 0px;
}
.choice form{
float: left;
margin:0px 10px 0px 0px;
}
.choice input{
font-size: 30px;
padding: 10px;
border-radius: 30px;
outline:none;
border: 1px solid gray;
}
.choice button{
font-size: 30px;
padding: 10px;
border-radius: 30px;
outline:none;
}






/* search */
.container    { 
  font-family:'Roboto';
  width:600px; 
  margin-left:480px ; 
  display:block; 
  padding:10px 50px 50px;
  margin-top: -90px;

}


.group        { 
  position:relative; 
  margin-bottom:45px; 
}
input         {
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid   ;
}
input:focus     { outline:none; }


.label2          {
  color:#999; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}


input:focus ~ label, input:valid ~ label    {
  top:-20px;
  font-size:14px;
  color:white;
}


.bar  { position:relative; display:block; width:300px; }
.bar:before, .bar:after   {
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#5264AE; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}


.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}


@-webkit-keyframes inputHighlighter {
  from { background:#5264AE; }
  to  { width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
  from { background:#5264AE; }
  to  { width:0; background:transparent; }
}
@keyframes inputHighlighter {
  from { background:#5264AE; }
  to  { width:0; background:transparent; }
}

.searchbtn{
  position: absolute;
  margin-top:-86px;
  margin-left:310px;
  height: 40px;
  width: 40px;
  background-color: #FFCC71;
  border: none;
  font-size: 24px;
}





